.experience {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	height: 100%;
	max-width: 100%;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 120px;
}
.tech-stack {
	height: 300px;
	width: 100%;
	min-width: 375px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 2rem;
	align-items: center;
}

.tech-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	height: 100%;
	width: 100%;
	padding: 1rem;
}

.rows {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	border-radius: 1rem;
	height: 100%;
	margin-bottom: 0.5rem;
}

.experience .tilt {
	height: 100%;
	min-width: 72px;
	width: 100px;
}

.row {
	background: #272727;
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	flex-wrap: wrap;
	min-width: 64px;
	min-height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
